avr/cmake-build-release/*
avr/cmake-build-debug/*
truetape64cli/venv
truetape64cli/truetape64cli.egg-info
truetape64cli/truetape64cli/__pycache__
truetape64cli/dist
truetape64cli/build
avr/cmake-build-debug
avr/cmake-build-release
avr/.idea
truetape64cli/.idea
truetape64cli/truetape64cli.spec
cli/truetape64cli/__pycache__/

